<h1>List of Projects</h1>
<ul>
<% @projects.each do |project| %>
	<li><%= link_to project.name, project_path(project)%>: <%= project.description unless project.description.blank? %></li>
<% end %>

</ul>